elastic-transport==8.4.0
elasticsearch==7.17.9
elasticsearch-dsl==7.4.0
Flask==2.2.2
Flask-Compress==1.13
Flask-Cors==3.0.10
Flask-WTF==1.0.1
numpy==1.23.5
pandas==1.5.1
plotly==5.11.0
requests==2.22.0
selenium==4.7.2
webdriver-manager==3.8.5
dash==2.7.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0