<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rannking d'un Artiste</title>
    </head>
    <body>
        <h1>Rechercher l'Artiste</h1>
        <a href="{{url_for('indexB')}}">Retour à la page d'accueil</a> -->

        <form method="POST">
            <input type="text" name="query" placeholder="Enter your search query" required>
            <br><br>
            <label><input type="checkbox" name="field" value="Title"> Title</label>
            <label><input type="checkbox" name="field" value="Artist"> Artist</label>
            <label><input type="checkbox" name="field" value="Genre"> Genre</label>
            <label><input type="checkbox" name="field" value="Distributor"> Distributor</label>
            <label><input type="checkbox" name="field" value="Producer"> Producer</label>
            <br><br>
            <input type="submit" name="submit" value="Search">
        </form>
        <!-- <div id="plotly-graph-div"></div> --> -->

        <!-- <script>
        var plot = {{ plot|safe }};
        Plotly.newPlot('plotly-graph-div', plot.data, plot.layout);
        </script> -->
    </body>
</html>