<!DOCTYPE html>
<html>
<head>
  <title>Recherche de musiques</title>
</head>
<script>
    function filterTable() {
      // Récupérer le champ de recherche et la table
      var input = document.getElementById("search");
      var table = document.getElementById("table");
    
      // Récupérer les lignes de la table
      var rows = table.getElementsByTagName("tr");
    
      // Parcourir toutes les lignes et cacher celles qui ne correspondent pas à la recherche
      for (var i = 0; i < rows.length; i++) {
        var title = rows[i].getElementsByTagName("td")[0];
        var artist = rows[i].getElementsByTagName("td")[1];
        var distributor = rows[i].getElementsByTagName("td")[10];
        var genre = rows[i].getElementsByTagName("td")[7];
        if (title && artist && distributor && genre) {
          var txtValue = title.textContent + artist.textContent + distributor.textContent + genre.textContent;
          if (txtValue.toUpperCase().indexOf(input.value.toUpperCase()) > -1) {
            rows[i].style.display = "";
          } else {
            rows[i].style.display = "none";
          }
        }
      }
    }
</script>   
<body>
  <h1>Rechercher des chansons</h1>
  <form>
    <input type="text" id="search" placeholder="Rechercher...">
    <input type="checkbox" name="title" value="title">Title</input>
    <input type="checkbox" name="artist" value="artist">Artist</input>
    <input type="checkbox" name="distributor" value="distributor">Distributor</input>
    <input type="checkbox" name="genre" value="genre">Genre</input>
    <button type="button" onclick="filterTable()">Rechercher</button>
  </form>
  {{ table | safe }}
</body>
</html>
