<!DOCTYPE html>
<html>
<head>
  <title>Recherche de musiques</title>
</head>
<script>
    function filterTable() {
      // Récupérer le champ de recherche et la table
      var input = document.getElementById("search");
      var table = document.getElementById("table");
    
      // Récupérer les lignes de la table
      var rows = table.getElementsByTagName("tr");
    
      // Parcourir toutes les lignes et cacher celles qui ne correspondent pas à la recherche
      for (var i = 0; i < rows.length; i++) {
        var genre = rows[i].getElementsByTagName("td")[7];
        if (genre) {
          var txtValue = genre.textContent || genre.innerText;
          if (txtValue.toUpperCase().indexOf(input.value.toUpperCase()) > -1) {
            rows[i].style.display = "";
          } else {
            rows[i].style.display = "none";
          }
        }
      }
    }
</script>   
<body>
  <h1>Rechercher des chansons par genre</h1>
  <form>
    <input type="text" id="search" placeholder="Search genre...">
    <button type="button" onclick="filterTable()">Search</button>
  </form>
  {{ table | safe }}
</body>
</html>